.App{
    height:100vh;
    ::-webkit-scrollbar{
        display: none;
    }

    .sections{
        width:100%;
        height:calc(100vh - 70px);
        background-color: chocolate;
        position:relative;
        top:70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;//for firefox
        ::-webkit-scrollbar{
            display: none;
        }

        >*{
            width:100vw;
            height:calc(100vh - 70px);
            scroll-snap-align: center;
        }
    }
}

